body {
	font-family: $font1;
	color: $primary_color;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font2;
}

*:focus,
a:focus,
a:active {
	outline: none;
	color: inherit;
	text-decoration: inherit;
}

br {
	font-size: inherit;
	line-height: inherit;
}

section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	@include transition;
}

i {
	color: inherit;
	font-size: inherit;
}

strong {
	font-size: inherit;
	line-height: inherit;
}

iframe {
	max-width: 100%;
}

svg {
	display: inline-block;
}
